.friends_info {
    margin-bottom: 50px;
    background-color: rgb(50, 156, 205);
    color: white;
    .explanation {
        text-align: center;
        opacity: 0.8;
        font-weight: 400;
        font-size: 16px;
        margin-top: 40px;
    }
    .followings {
        margin-left: 50px;
        font-size: larger;
        font-weight: 500;
    }
    .count {
        margin-left: 35px;
        display: inline-block;
    }
    input {
        float: right;
        margin-right: 90px;
        padding: 5px 5px 6px 5px;
        border: none;
        outline: none;
        border-radius: 8px;
        box-shadow: 0 0 0 1px rgb(128, 0, 128, 0.3);
    }
}